body{
    background-color: rgb(67, 70, 69);
    display:flex;
    align-items: center;
    justify-content: center; 
    color: white;
    text-align: center;
    margin-top: 300px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.card{
    background-color: black;
    text-align: center; 
    border-radius: 20px;
    height:250px;
    width: 170px;
    box-shadow: 3px 3px 10px 10px whitesmoke;
    padding:5%;
}
/* .container{
    margin-left: 700px;
    width: 26%; 
}*/
.card h4{
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem 0;
}
button.refresh{
    /* display: block; */
    width: 30px;
    /* margin: 10px auto; */
    /* background: transparent; */
    /* border: 0; */
    color:black;
    /* font-size: 13px; */
    height: 20px;
    border-radius: 50%;
    /* box-shadow: 10px 4px 10px #252525, 5px 5px 18px #4a4a4a; */


}
button.refresh.hover{
    background-color: gray;
    box-shadow: inset 0px 12px 16px 0px #252525,inset 5px 5px 18px bisque;
}

